.whole_track_section {
  background-color: #e7c9f9;
  padding: 20px 20px 60px 20px;
  min-height: 70vh;
  color: #9f9e9e;
}

.x{
  color:#012552;
}

.domainsDiv{
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  align-items: center;
  justify-content: center;
 
}
.domain{
  padding: 20px;
  transition: all 0.3s ease;
  border-radius: 20px;
  
}
img{
  border-radius: 30px;
}

.domain:hover{
  cursor: pointer;
  transform:  translateY(-15px);
}

@media (max-width: 1300px){
  .domain{
    padding: 10px;
  }
  .domain img{
    width: 250px;
  }
}

@media (max-width: 1180px){
  .domain{
    padding: 0px;
  }
  .domain img{
    width: 225px;
  }
}

@media (max-width: 768px){
  .domain{
    padding: 10px;
  }
  .domain img{
    width: 225px;
  }
}